# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore application-secret.yml (각종 키값, 비밀번호 등이 들어있는 파일)
src/main/resources/application-secret.yml
