# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore application-secret.yml
src/main/resources/application-secret.yml

.idea

daemon

caches
wrapper
native
