# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore application-secret.yml (각종 키값, 비밀번호 등이 들어있는 파일)
application-secret.yml
